// Breakpoints
$break-desktop: 1440px;
$break-mobile: 375px;

//Colors
$color_around: #fab289;
$color_margin: #ff5c28;
//cards colors
$color_text_utility: #797575;
$color_text_adress: #363535;
$color_text_black: #000000;
//Spacings

//Effect
