.button_dark {
  align-items: center;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 25px;
  left: 15px;
  cursor: pointer;
}

.shopping-cart-icon{
  position:fixed;
  top: 25px;
  right: 15px;
  height: 35px;
  width: 35px;
  z-index: 2000;
  .showPurchases{
    border: none;
    cursor: pointer;
  }
  img{
    height: 100%;
    width: 100%;
  }
}