//styling order cards in shopping cart//
.shopping_cart_infos{
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    top: 0;
    // right: -1000px;
    z-index: 1500;
    background-color: rgba(50, 50, 50, 1);
    overflow-y: scroll;
}
// Show / Hide Purchases
.renderPurchases{
    transform: translateY(0);
}


.shopping_cart_content_import {
    width: 100%;
    min-height: 0;
    margin: 125px auto 20px auto;
    display: flex;
    flex-direction: column;
    .cart_section {
        display: flex;
        justify-content: center;
        height: 150px;

        margin: 20px 40px;
        border: 2px solid $color_margin;
        border-radius: 15px;
        overflow: hidden;


        .cart_image {
            flex-basis: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }

        .cart_content {
            flex-basis: 100%;
            background-color: whitesmoke;
            padding: 15px 5px;
            .title_and_price {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                font-size: 14px;
                line-height: 18px;
                h2{
                    order: 1;
                    margin-bottom: 20px;
                    font-size: 16px;
                }
                p{
                    font-weight: bold;
                    order: 0;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            .units {
                height: 25px;
                display: flex;
                justify-content: center;
                font-size: 14px;
                .minus,
                .plus {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 100%;
                    cursor: pointer;
                }

                .number {
                    margin: 10px;
                    line-height: 7.5px;
                }
            }
        }
    }
}

.shopping_cart_checkout {
    background-color: whitesmoke;
    border-top: 2px solid $color_margin;
    position: absolute;
    top: 0;
    width: 100%;
    input[type="submit"]{
        margin: 20px 0;
        max-width: 200px;
    }
}
  